@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  svg {
    display: inline;
    vertical-align: baseline;
  }
}

.ant-notification-notice {
  @apply bg-app;
}

.ant-notification-notice-message {
  @apply text-white;
}
